body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1210px;
    margin: 0px auto;
}

.button {
    background-color: #CC9999;
    padding: 15px 40px;
    color:white;
    transition: all 300ms linear;
}

.button:hover{
    background-color: #875959;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 210px;
}

header .logo{
    background-color: #9999CC;
    flex: 2;
    color: white;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header h1{
    margin: auto;
    font-size: 36px;
    text-transform: uppercase;
}

nav {
    background-color: #EDEEEF;
    flex: 5;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

nav ul,
nav ul li{
    list-style-type: none;
    margin:0px;
}

nav ul li {
    background-color: #FFFFFF;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 145px;
    width: 145px;
    font-size: 19px;
    color: #666;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li:hover,
nav ul li.selected{
    background-color: #CC9999;
    color: #FFF;
}

nav ul li a{
    text-decoration: none;
    color: currentColor;
    line-height: 50px;
}

nav ul li a:visited{
    text-decoration: none;
}

.banner1{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.banner1-image{
    margin-right: 20px;
}

.banner1-text{
    flex:4;
    background-color: #EDEEEF;
}

.banner1-text h2{
    font-size: 1.5em;
    margin-left: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: 600;
}

.banner1-text p,
.banner1-text a{
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    line-height: 35px;
}

.banner1-text p{
    color: #666;
    font-weight: 400;
}

.features{
    background-color: #9999CC;
    color:white;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.features img{
    display: block;
    margin: auto;
}

.feature img{
    margin-top: 60px;
    margin-bottom: 40px;
}

.features p{
    font-size: 18px;
    width: 70%;
    margin:auto;
    text-align: center;
    margin-bottom: 60px;
}